bin/
obj/
wechat_server.log*
*.pb.h
*.pb.cc
symbols/
test_grpc
tools/wechat_server
*.tmp
wechat_server/obj/
Win32/
x64/
Debug/
Release/


ipch/

# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
#Makefile
cmake_install.cmake
install_manifest.txt
*.cmake
#Additions to https://github.com/github/gitignore/blob/master/CMake.gitignore
Testing
compile_commands.json

# executables
http_examples
https_examples
io_test
parse_test

#vs
*.db
*.opendb
*.pdb
*.ipdb
*.exe
*.dll
http_server/Debug/
http_server/Release/
http_server/bin/
http_server/obj/
build/
*.o
.vs/
*.suo
*.out
*.tlog
*.log
*.lastbuildstate
*.obj
*.iobj
*.pch
*.idb
*.ilk
*.exe.recipe
*.vcxproj.CopyComplete
*.vcxproj.FileListAbsolute.txt
*.txt


